/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-white: #ffffff;
	--color-background:#ffffff;
	--ned-game-red: #ff6969;
	--ned-game-green: #00B67A;
	--ned-game-blue: #069;
	--icon-color: #959595;
	--button-grey: #F7F7F5;
	--button-altgreen: #12B610;
	--input-gray: #666;

	--ned-game-green-hover: #009966;
	--ned-game-green-active: #00704b;
	--button-altgreen-hover: #0F9B0D;


	--background-image: url(../images/581_s4756884n2ht6247.webp);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-image: none;
	font-family: Roboto, sans-serif, Arial, Helvetica;
	margin: 0px;
	font-size: 14px
}

@media only screen and (min-width: 1025px){
	body {
	background-image: var(--background-image);
	background-size: cover;
	background-repeat: no-repeat;
  	background-attachment: fixed;
	}
}

@media only screen and (max-width: 1024px){
	.desktopOnly{
		display: none;
	}

	body {
		font-size: 12px
	}
}

@media only screen and (min-width: 1025px){
	main {
		padding: 1em 0em 1em 0em;
	}
} 

p {
	color: var(--color-text);
}

li {
	color: var(--color-text);
}

svg {
	height: 1em;
	width: auto;
}

img{
	max-width: 100%;
}

a {
	color: var(--ned-game-blue);
	text-decoration: none;
}

/* a:focus {

} */

h1 {
	font-weight: 700;
	font-size: 1.45em;
	margin-top: 2rem;
}

header > h1 {
	display: none;
}

@media only screen and (max-width: 1024px){
	h1 {
		text-align: center;
	}
}

h2 {
	font-size: 1.25em;
	color: var(--color-text);
}

h3 {
	color: var(--color-text);
}

#topbanner{
	max-width: 1500px;
	margin: auto;
	text-align: center;
	min-height: 20px;
}

/****************/
/* Header */
/****************/
header{ 
	padding: 8px 8px 0px 8px;
}

header ul {
	overflow: unset;
	white-space: nowrap;
	letter-spacing: .45px;
	text-align: left;
	list-style-type: none;
	line-height: 30px;
	width: 100%;
	align-content: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	overflow-x: hidden;

	@media only screen and (min-width: 1025px){
		display: flex;
        text-align: center;
        justify-content: space-evenly;
	}
}

header form.mobileOnly input {
	width: calc(100% - 43px);
	height: 43px;
	color: var(--input-gray);

	border: 1px solid var(--input-gray);
	border-left: 1px solid var(--input-gray);
	border-right: 0;
	border-radius: 5px 0 0 5px;
}

header div.desktopOnly input {
	width: calc(80% - 43px);
	height: 43px;
	color: var(--input-gray);

	border: 1px solid var(--input-gray);
	border-left: 1px solid var(--input-gray);
	border-right: 0;
	border-radius: 5px 0 0 5px;
}

header p {
	text-align: center;
}

header form button {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0;
	padding: 0 6px;
	background-color: var(--ned-game-blue);
	border: 1px solid var(--ned-game-blue);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	fill: #fff;
	text-align: center;
}

header form {
	padding: 10px 0 0;
	display: inline-flex;
	width: 100%;
}

header nav svg {
	height: 2.25em;
	width: auto;
}

header nav button {
	background: none;
	border: none;
	cursor: pointer;
}

@media only screen and (min-width: 1025px) {
	header {
		position: sticky;
        top: -4em;
        background: var(--color-background);
        z-index: 3;
	}
}

#topbanner img {
	display: block;
	margin: auto;
	max-width: 100%;
}

#container {
	background-color: var(--color-background);
	position: relative; 
	margin: auto auto 20px;
	max-width: 1500px;
	overflow-x: clip;
}

#NedgameLogo {
	width: 125px;
	max-width: 100%;
	display: block;
	object-fit: contain;
}

header nav.mobileOnly:first-of-type {
	@media only screen and (max-width: 1024px){
		display: flex;
	}
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header nav.mobileOnly:first-of-type svg{
	fill: var(--icon-color);
}

header nav.mobileOnly:first-of-type div {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

header nav.mobileOnly:first-of-type .cartcounter {
	position: absolute;
	background-color: var(--ned-game-red);
	border-radius: 50%;
	top: 5px;
	/* right: 12px; */
	width: 1.3em;
	height: 1.3em;
	color: var(--color-text-white);
	text-align: center;
}

header nav.mobileOnly:first-of-type .favcounter {
	position: absolute;
	background-color: var(--ned-game-red);
	border-radius: 50%;
	top: 5px;
	/* right: px; */
	width: 1.3em;
	height: 1.3em;
	color: var(--color-text-white);
	text-align: center;
}

header nav.mobileOnly:first-of-type .counterbutton {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header div.desktopOnly .cartcounter {
	position: absolute;
	background-color: var(--ned-game-red);
	border-radius: 50%;
	top: 60px;
	/* right: 12px; */
	width: 1.3em;
	height: 1.3em;
	color: var(--color-text-white);
	text-align: center;
}

header div.desktopOnly .favcounter {
	position: absolute;
	background-color: var(--ned-game-red);
	border-radius: 50%;
	top: 60px;
	/* right: 12px; */
	width: 1.3em;
	height: 1.3em;
	color: var(--color-text-white);
	text-align: center;
}



/****************/
/* Mobile tabs */
/****************/
header nav.mobileOnly:nth-of-type(2) {
	@media only screen and (max-width: 1024px){
		display: block;
	} 
	overflow: auto;
	white-space: nowrap;
	scrollbar-width: none;
}


header nav.mobileOnly:nth-of-type(2) a {
	color: var(--ned-game-blue);

	display: inline-flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	border: 1px solid;
	border-radius: 24px;
	padding: 4px 24px;
	height: 37px;
	margin-right: 9px;
	max-width: 180px;
	min-width: 80px;
}

header nav.mobileOnly:nth-of-type(2) a:first-child{
	margin-left: 5px;
}

header nav.mobileOnly:nth-of-type(2) a:hover{
	text-decoration: underline;
}

/* Footer */
footer ul{
	display: grid;
	grid-template-columns: auto auto;
}
footer li {
	list-style: none;
	margin: 2.4px 0 0 15px;
	padding: 4px 0;
}

footer > p {
	text-align: center;
	padding-bottom: 2em;
}

footer div.desktopOnly div{
	display: flex;
	align-items: center;
}

footer div.desktopOnly div:first-of-type{
	justify-content: space-around;
}

footer div.desktopOnly div:first-of-type div{
	display: block;
}

footer button {
	background-color: var(--ned-game-blue);
	color: var(--color-text-white);
	padding: .65em 1em;
    position: relative;
	border: none;
	border-radius: 25px;
}

/* Main Nav */
main nav {
	margin-top: 24px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: space-around;
	text-wrap: nowrap;
	@media only screen and (min-width: 1025px){
		overflow-x: hidden;
	}
	@media only screen and (max-width: 1024px){
		overflow-x: scroll;
	}
}

main nav:first-of-type a{
	color: var(--color-text);
}

main nav a {
	display: block;
	margin: 6px;
	padding: 12px 24px;
	border: 1px solid #efefef;
	border-radius: 5px;
	text-align: center;
}

main nav a:hover {
	border: 1px solid #222121;
	text-decoration: underline;
}

main nav a img{
	min-width: 150px;
	height: auto;
	max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: bottom;
}

main nav p {
	color: var(--color-text);
}

/* Desktop Tabs */
header > nav.desktopOnly{
	height: 4em;
	padding-left: 2%;
	padding-right: 2%;
	background-color: var(--ned-game-blue);
    flex-direction: row;
    text-wrap: nowrap;

	@media only screen and (min-width: 1025px){
		display: flex;
	}
}

header > nav.desktopOnly a{
	padding-left: .67em;
	padding-right: .67em;
	line-height: 4.2em;
	font-size: 1em;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	border-top: 0;
	border-left: 1px solid #00669b;
	border-bottom: 0;
	border-right: 1px solid #00669b;
	height: 100%;
	display: block;
}

header > nav.desktopOnly a:hover{
	background-color: var(--color-background);
	color: var(--ned-game-blue);
}

@media only screen and (min-width: 1025px) {
	header div.desktopOnly{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1em;
	}
}

header div.desktopOnly nav{
	display: flex;
}

header div.desktopOnly img:first-of-type{
	display: block;
    width: 211px;
    max-width: 100%;
    object-fit: contain;
}

header div.desktopOnly nav a, header div.desktopOnly nav button{
	display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
}

header div.desktopOnly nav a span, header div.desktopOnly nav button span{
	color: var(--input-gray);
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 12px;
	font-weight: 700;
}

header div.desktopOnly a:nth-of-type(2){
	fill: var(--ned-game-green);
	color: var(--ned-game-green);
}


/****************/
/* product */
/****************/
.productSection{
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	margin-bottom: 2em;
}

.productSection .productswrapper{
	grid-column: span 2;
}

.productSection a {
	padding-right: 1em;
	display: grid;
	justify-content: right;
}

.productSection h2 {
	padding-left: 1em;
}

.productFloater{
	min-width: 142px;
	width: auto;
	display: inline-block;
	text-align: center;
	margin: 20px 5px 0px;
	padding: 12px 6px;
	border: 1px solid #efefef;
	border-radius: 5px;
}

.productFloater:hover {
	border: 1px solid #222121;
}

.productFloater img {
	max-width: 130px;
	max-height: 160px;
}

.productFloater span {
	display: block;
	opacity: .89;
	font-size: 16px;
	font-weight: bold;
	color: var(--color-text);
	text-align: center;
	width: 100%;
	height: auto;
}

.productFloater h3{
	color: var(--ned-game-blue);
	font-size: 1em;
	font-weight: 700;
}

.productFloater h3:hover{
	text-decoration: underline;
}

.productFloater button {
	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	margin: .5em 0 0;
	padding: 0;
	border: none;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
	outline: 0;
}

.productFloater button:first-of-type:hover{
	border: 1px solid var(--ned-game-blue); 
}

.productFloater button:first-of-type{
	background-color: var(--button-grey);
	fill: var(--ned-game-blue); 
}

.productFloater.faved button:first-of-type{
	transition: 0.5s;
	background-color: var(--button-grey);
	fill: var(--ned-game-red); 
}

.productFloater button:nth-of-type(2){
	background-color: var(--ned-game-green);
	fill: var(--color-text-white);
}

.productFloater button:nth-of-type(2):hover{
	background-color: var(--ned-game-green-hover);
}

.productFloater button:nth-of-type(2):active{
	background-color: var(--ned-game-green-active);
}

.productFloater button svg {
	display: inline-block;
	height: 12px;
}

.productFloater a{
	display: block;
}

.productFloater span{
	display: block;
}

.productswrapper {
	width: 100%;
	padding-left: 8px;
}

@media only screen and (min-width: 1025px){
	.productswrapper{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
}


/* main section {
	padding-left: 8px;
} */

@media only screen and (max-width: 1024px){
	.productswrapper {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		height: auto;
		width: 100%;
	}
}

/****************/
/* Product */
/****************/
/* #productimage {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
} */

/* (https://css-tricks.com/css-only-carousel/) */
#productandinfo{
	display: grid;
	@media only screen and (min-width: 1025px){
		grid-auto-flow: column;
	}
	@media only screen and (max-width: 1024px){
		grid-auto-flow: row;
	}
}

#productSlider{
	text-align: center;
	overflow: hidden;
	display: flex;

	@media only screen and (min-width: 1025px){
		flex-direction: row-reverse;
		gap: 0.5em;
	}
	@media only screen and (max-width: 1024px){
		flex-direction: column;
	}
}

#productSlider a{
	display: flex;
	flex-direction: row;
	width: 50px;
    height: 50px;
    background-color: var(--color-background);
	background-size: contain;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 10px 0 10px 10px;
    cursor: pointer !important;
}

#productSlider a:hover {
	border: 1px solid var(--ned-game-blue);
}

#productSlider a:active {
	border: 1px solid var(--ned-game-blue);
}

#productSlider div:nth-of-type(2){
	display: flex;
	@media only screen and (min-width: 1025px){
		flex-direction: column;
	}
	@media only screen and (max-width: 1024px){
		flex-direction: row;
	}
}

#info {

	@media only screen and (min-width: 1025px){
		width: auto;
		height: fit-content;
		max-width: 40vw;
		box-shadow: 0 0 30px 0 #cecece;
		padding: 2em;
		border: 1px solid #b1b1b1;
		border-radius: 1em;
		border: none;
		box-shadow: 0 0 30px 0 #cecece;
		margin-right: 1em;

		h2:first-of-type {
			font-weight: 700;
			font-size: 1.45em;
		}
	}
}

#info div:nth-of-type(2){
	padding-left: 3em;
	padding-right: 3em;
}

#productSlides {
	display: flex;

	overflow-x: auto;
	scroll-snap-type: x mandatory;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
}

#productSlides > div {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

dl {
	padding-left: 1em;
	@media only screen and (max-width: 1024px){
		display: grid;
		grid-template-columns: auto auto;
	} 
	@media only screen and (min-width: 1025px){
		display: flex;
    	justify-content: flex-start;
	}
}

dt {
	grid-column-start: 1;
	font-weight: bold;
}

dd {
	@media only screen and (max-width: 1024px){
		grid-column-start: 2;
	} 
	@media only screen and (min-width: 1025px){
		margin-left: 1em;
    	margin-right: 1em;
	}
}

#koopbuttons{
	display: flex;
	flex-wrap: wrap; 
	justify-content: flex-end;
}

#koopbuttons button{
	border: none;
	color: white;
	margin: 2px 2px;
}

#koopbuttons button:not(:first-of-type) {
	width: calc(100% - 3.5em);
    float: right;
    padding: .65em 0 .55em;
    position: relative;
	border-radius: 25px;
}

#koopbuttons button:first-of-type{
	background-color: var(--button-grey);
    fill: var(--ned-game-blue);
	display: inline-block;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    border: none;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

#koopbuttons button:first-of-type:hover{
	border: 1px solid var(--ned-game-blue);
}

#koopbuttons button:nth-of-type(2){
	background-color: var(--ned-game-green);
}

#koopbuttons button:nth-of-type(2):hover{
	background-color: var(--ned-game-green-hover);
}

#koopbuttons button:nth-of-type(3){
	background-color: var(--button-altgreen);
}

#koopbuttons button:nth-of-type(3):hover{
	background-color: var(--button-altgreen-hover);
}

#productDescription{
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 3em;
}

#productDescription p{
	margin-bottom: 0.5em;
}

main p, h2, h3, dl{
	margin: 0.5em;
}

main ul {
	list-style: none;
}

main ul li {
	padding: 3px 0px 0px;
}

ul b {
	color: var(--ned-game-green);
}

select {
	width: 100%;
    background: 0 0;
	border-radius: .5em;
	padding: 9px 21px 9px 9px;
    text-indent: .01px;
    position: relative;
    padding-right: 1.75em;
    color: #333;
    z-index: 2;
}


/* Banner */
.banners {
	display: flex;
	gap: 1em;
}

.banners a:not(:first-of-type){
	@media only screen and (max-width: 1024px){
		display: none;
	}
}

.banners a {
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	height: 14em;
	background-image: url(../images/banner.webp);
	background-position: center;
	background-repeat: no-repeat;
	/* background-color: var(--color-background); */
	overflow: hidden;
	position: relative;
	cursor: pointer;

}

.banners a p{
	font-size: 1em;
	text-align: center;
	font-weight: 700;
	color: white;
	padding: 1em;
	text-shadow: 0 0 10px #000;
}

/* Mobile responsive */
@media only screen and (min-width: 1025px){
	.mobileOnly {
		display: none;
	}
} 

